# Web server configuration
PORT=8080

# Application
STORAGE_DRIVER='s3'                 # 's3' or 'local'

# Storage configuration
LOCAL_STORAGE_DIR='./uploads'       # Base directory for local storage driver
S3_REGION='eu-central-1-waw-1a'
S3_ENDPOINT='http://minio:9000'
S3_BUCKET='default'
S3_KEY_ID='images'
S3_ACCESS_KEY='BrEnfIwGAnU1p55J'

# PostgreSQL
DB_PORT=5432
DB_HOST="postgres"
DB_NAME="images"
DB_USER="images"
DB_PASSWORD="9nemNjs1mG4gAJpf"


